<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Added the libs</title>


  <link rel="stylesheet" th:href="@{/css/themes/QuickQuote.css}">
  <link rel="stylesheet" href="@{/css/themes/jquery.mobile.icons.min.css}">
  <link rel="stylesheet" th:href="@{http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css}">
  <script th:src="@{https://code.jquery.com/jquery-1.11.3.min.js}"></script>
  <script th:src="@{https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js}"></script>
  <script th:href="@{js/JSUtils.js}"></script>

</head>

<body>
  <div data-role="page" id="subsidyInput">
    <div data-role="header">
      <div>
        <img id="logo" border="0" src="" height="40" alt="logo" style="float: right; display: inline" />
      </div>
      <h1>Subsidy</h1>
      <a href="#mainpage" class="ui-btn ui-shadow ui-corner-all ui-icon-home ui-btn-icon-notext"></a>
    </div>
    <div data-role="main" class="ui-content">
      <div class="ui-field-contain">
        <input type="number" id="lPriceInput" placeholder="List Price" />
        <input type="number" id="sPriceInput" placeholder="Selling Price" />
        <input type="number" id="dPmtInput" placeholder="Down Payment" />
        <select id="finTmpltsInput">
						<option value='empty'>Financing Template</option>
					</select> <input type="number" id="custRateInput" placeholder="Customer Rate" /> <span id="subsidyMessage"></span>
        <div data-role="navbar">
          <ul>
            <li><a onclick="clearFormSubsidy()" class="ui-btn ui-icon-delete ui-btn-icon-right">Clear</a></li>
            <li>&nbsp;</li>
            <li><a onclick="calculateSubsidy()" class="ui-btn ui-icon-check ui-btn-icon-right">Calculate</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
